* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

/*
.container {
    background-color: rgb(215, 221, 221);
}
*/

.form-container {
    padding: 20px;
    width: 800px;
    align-items: center;
    background-color: #ffff;
}

form {
    width: 400px;
    margin-top: 50px;
    padding: 50px;
    background-color:bisque;
    border-radius: 20px;
}

form .input-div {
    margin-bottom: 15px;
}


h2 {
    text-align: center;
    margin-top: 30px;
}

